# 数据库调用 postgresql 和 python pandas 的代码对比


<B>youtube教学视频： https://www.youtube.com/watch?v=qw--VYLpxG4&t=1972

<b>随机数据生成网站：
https://www.mockaroo.com/

In [21]:
import pandas as pd
import psycopg2
conn = psycopg2.connect(database="postgres", user="postgres", password="sdatou", host="127.0.0.1", port="5433")
pd.read_sql("SELECT NOW();", conn)

                               now
0 2021-11-17 09:13:20.764650+00:00

<b> postgresql datatype: https://www.postgresql.org/docs/9.5/datatype.html

postgres=# \c test
You are now connected to database "test" as user "postgres".

test=# CREATE TABLE person(
test(# id INT,
test(# first_name VARCHAR(50),
test(# last_name VARCHAR(50),
test(# gender VARCHAR(7),
test(# date_of_birth DATE);
CREATE TABLE

test=# \d
         List of relations
 Schema |  Name  | Type  |  Owner   
--------+--------+-------+----------
 public | person | table | postgres
(1 row)

test=# \d person
                         Table "public.person"
    Column     |         Type          | Collation | Nullable | Default 
---------------+-----------------------+-----------+----------+---------
 id            | integer               |           |          | 
 first_name    | character varying(50) |           |          | 
 last_name     | character varying(50) |           |          | 
 gender        | character varying(7)  |           |          | 
 date_of_birth | date                  |           |          | 

test=#

## Create a table with more properties.

test=# CREATE TABLE person(
test(# id BIGSERIAL NOT NULL PRIMARY KEY,
test(# first_name VARCHAR(50) NOT NULL,
test(# last_name VARCHAR(50) NOT NULL,
test(# gender VARCHAR(7) NOT NULL,
test(# date_of_birth DATE NOT NULL,
test(# email VARCHAR(150));
CREATE TABLE
test=# \d
              List of relations
 Schema |     Name      |   Type   |  Owner   
--------+---------------+----------+----------
 public | person        | table    | postgres
 public | person_id_seq | sequence | postgres 这个table因为加入了 BIGSERIAL 数据格式所以出现！！！
(2 rows)

test=# \d person
                                       Table "public.person"
    Column     |          Type          | Collation | Nullable |              Default               
---------------+------------------------+-----------+----------+------------------------------------
 id            | bigint                 |           | not null | nextval('person_id_seq'::regclass)
 first_name    | character varying(50)  |           | not null | 
 last_name     | character varying(50)  |           | not null | 
 gender        | character varying(7)   |           | not null | 
 date_of_birth | date                   |           | not null | 
 email         | character varying(150) |           |          | 
Indexes:
    "person_pkey" PRIMARY KEY, btree (id)

211117 看到 54：50

## INSERT INTO

test=# INSERT INTO person(
test(# first_name,
test(# last_name,
test(# gender,
test(# date_of_birth)
test-# VALUES('Jake', 'Smith', 'MALE', DATE '1969-10-21');
INSERT 0 1

test=# \dt
         List of relations
 Schema |  Name  | Type  |  Owner   
--------+--------+-------+----------
 public | person | table | postgres
(1 row)

test=# \d person
                                       Table "public.person"
    Column     |          Type          | Collation | Nullable |              Default               
---------------+------------------------+-----------+----------+------------------------------------
 id            | bigint                 |           | not null | nextval('person_id_seq'::regclass)
 first_name    | character varying(50)  |           | not null | 
 last_name     | character varying(50)  |           | not null | 
 gender        | character varying(7)   |           | not null | 
 date_of_birth | date                   |           | not null | 
 email         | character varying(150) |           |          | 
Indexes:
    "person_pkey" PRIMARY KEY, btree (id)

test=# SELECT * FROM person;
 id | first_name | last_name | gender | date_of_birth | email 
----+------------+-----------+--------+---------------+-------
  1 | Jake       | Smith     | MALE   | 1969-10-21    | 
(1 row)

## 往已有table中加入新的column

test=# ALTER TABLE person
add column country_of_birth VARCHAR(50) NOT NULL;
ERROR:  column "country_of_birth" of relation "person" contains null values
test=# ALTER TABLE person
add column country_of_birth VARCHAR(50);
ALTER TABLE
test=# \d person
                                         Table "public.person"
      Column      |          Type          | Collation | Nullable |              Default               
------------------+------------------------+-----------+----------+------------------------------------
 id               | bigint                 |           | not null | nextval('person_id_seq'::regclass)
 first_name       | character varying(50)  |           | not null | 
 last_name        | character varying(50)  |           | not null | 
 gender           | character varying(7)   |           | not null | 
 date_of_birth    | date                   |           | not null | 
 email            | character varying(150) |           |          | 
 country_of_birth | character varying(50)  |           |          | 
Indexes:
    "person_pkey" PRIMARY KEY, btree (id)

## ALTER TABLE ALTER COLUMN 改变数据类型的长度

test=# ALTER TABLE person
test-# ALTER COLUMN gender TYPE varchar(20); 原来长度是7，此行命令用来改变数据类型的长度
ALTER TABLE

test=# \d person
                                         Table "public.person"
      Column      |          Type          | Collation | Nullable |              Default               
------------------+------------------------+-----------+----------+------------------------------------
 id               | bigint                 |           | not null | nextval('person_id_seq'::regclass)
 first_name       | character varying(50)  |           | not null | 
 last_name        | character varying(50)  |           | not null | 
 gender           | character varying(20)  |           | not null | 
 date_of_birth    | date                   |           | not null | 
 email            | character varying(150) |           |          | 
 country_of_birth | character varying(50)  |           |          | 
Indexes:
    "person_pkey" PRIMARY KEY, btree (id)

211117 看到 1：12：38

## ORDER BY 某列 （默认升序ASC）

test=# SELECT * FROM person ORDER BY country_of_birth;
test=# 

test=# SELECT * FROM person ORDER BY country_of_birth ASC;
test=# SELECT * FROM person ORDER BY country_of_birth DESC;

## DISTINCT 去掉重复

test=# SELECT DISTINCT gender FROM person ORDER BY gender;
   gender    
-------------
 Agender
 Bigender
 Female
 Genderfluid
 Genderqueer
 Male
 MALE
 Non-binary
 Polygender
(9 rows)

test=#

## WHERE 语句, AND, OR 语句

test=# SELECT * FROM person WHERE gender = 'Female';
test=# SELECT * FROM person WHERE gender = 'Female' AND country_of_birth = 'China';
test=# SELECT * FROM person WHERE gender = 'Female' AND (country_of_birth = 'China' OR country_of_birth = 'Poland');

## 数学运算符

test=# SELECT 1=1;
 ?column? 
----------
 t                         返回真值表（true）
(1 row)



test=# SELECT 1<>2;       使用 <> 表示不等于
 ?column? 
----------
 t                         
(1 row)



test=# SELECT 'MARK'<>'Mark';       使用 <> 对非数字数据进行比较
 ?column? 
----------
 t                         
(1 row)

211118 看到 1：29：37

## LIMIT , OFFSET 的用法

test=# SELECT * FROM person LIMIT 10;
 id | first_name |  last_name   | gender  | date_of_birth |           email            | country_of_birth 
----+------------+--------------+---------+---------------+----------------------------+------------------
  1 | Jake       | Smith        | MALE    | 1969-10-21    |                            | 
  4 | Toma       | McQuillin    | Agender | 2020-05-11    |                            | Vietnam
  5 | Joshia     | D' Angelo    | Female  | 2020-12-05    | jdangelo4@spiegel.de       | Argentina
  6 | Anitra     | Bartoszewicz | Agender | 2020-12-29    | abartoszewicz5@pcworld.com | Vietnam
  7 | Barnebas   | Girard       | Male    | 2021-01-08    | bgirard6@jiathis.com       | China
  8 | Casey      | Demko        | Female  | 2020-04-17    | cdemko7@indiatimes.com     | Peru
 11 | Johnette   | Shilton      | Male    | 2020-11-11    | jshiltona@youtu.be         | Philippines
 19 | Roi        | Lockett      | Female  | 2020-04-30    | rlocketti@amazon.co.uk     | Philippines
 20 | Drugi      | Allcott      | Agender | 2020-11-29    |                            | Sweden
 22 | Kathye     | Kimbly       | Agender | 2020-12-27    | kkimblyl@slideshare.net    | Russia
(10 rows)

test=# SELECT * FROM person OFFSET 5 LIMIT 5;
 id | first_name | last_name | gender  | date_of_birth |          email          | country_of_birth 
----+------------+-----------+---------+---------------+-------------------------+------------------
  8 | Casey      | Demko     | Female  | 2020-04-17    | cdemko7@indiatimes.com  | Peru
 11 | Johnette   | Shilton   | Male    | 2020-11-11    | jshiltona@youtu.be      | Philippines
 19 | Roi        | Lockett   | Female  | 2020-04-30    | rlocketti@amazon.co.uk  | Philippines
 20 | Drugi      | Allcott   | Agender | 2020-11-29    |                         | Sweden
 22 | Kathye     | Kimbly    | Agender | 2020-12-27    | kkimblyl@slideshare.net | Russia
(5 rows)

## IN 限定取值范围

test=# SELECT * FROM person WHERE country_of_birth IN ('China','Brazil','France');
test=#

## BETWEEN 命令

test=# SELECT * FROM person WHERE date_of_birth BETWEEN DATE '2020-01-01' AND '2020-04-05';
 id  | first_name |  last_name  |   gender    | date_of_birth |             email              | country_of_birth 
-----+------------+-------------+-------------+---------------+--------------------------------+------------------
  52 | Vinny      | Stalman     | Male        | 2020-04-02    | vstalman1f@sina.com.cn         | Argentina
  80 | Lilian     | Pottes      | Agender     | 2020-04-01    | lpottes27@wikia.com            | Indonesia
 173 | Tudor      | Nockells    | Male        | 2020-04-03    | tnockells4s@example.com        | France
 289 | Melania    | Eaddy       | Female      | 2020-04-05    |                                | China
 557 | Larissa    | Sayre       | Male        | 2020-04-04    |                                | Indonesia
 737 | Samson     | Sucre       | Male        | 2020-04-01    | ssucrekg@google.com.hk         | Indonesia
 775 | Christabel | Keppie      | Male        | 2020-03-31    | ckeppieli@sitemeter.com        | Portugal
 809 | Sharleen   | Eaglesham   | Agender     | 2020-03-31    | seagleshammg@w3.org            | Poland
  37 | Frasquito  | Ranscomb    | Genderqueer | 2020-04-05    | franscomb10@blogtalkradio.com  | China
 106 | Tristam    | Aslin       | Genderfluid | 2020-04-05    | taslin2x@people.com.cn         | Guyana
 179 | Tiffany    | Troth       | Genderfluid | 2020-04-05    | ttroth4y@simplemachines.org    | Poland
 239 | Faustina   | Anear       | Genderqueer | 2020-04-01    | fanear6m@ustream.tv            | China
 255 | Fletch     | Worling     | Polygender  | 2020-04-05    | fworling72@dot.gov             | Indonesia
 272 | Clementius | Roizin      | Non-binary  | 2020-04-03    | croizin7j@uol.com.br           | Argentina
 294 | Gaspar     | Rubenovic   | Non-binary  | 2020-04-03    | grubenovic85@myspace.com       | Laos
 475 | Towney     | Szymaniak   | Genderqueer | 2020-04-01    | tszymaniakd6@163.com           | Venezuela
 649 | Lauritz    | Shovlar     | Genderqueer | 2020-03-31    |                                | Burkina Faso
 717 | Ardelle    | Blazejewski | Bigender    | 2020-04-02    |                                | Argentina
 828 | Ginni      | Sherman     | Bigender    | 2020-04-05    | gshermanmz@csmonitor.com       | South Africa
 874 | Alonso     | McLernon    | Polygender  | 2020-04-01    | amclernono9@hp.com             | China
 896 | Xerxes     | Swalteridge | Polygender  | 2020-04-03    | xswalteridgeov@tripadvisor.com | Argentina
 967 | Daryle     | Loynton     | Polygender  | 2020-03-31    | dloyntonqu@pen.io              | Indonesia
(22 rows)

## LIKE, 使用 % 占位

test=# SELECT * FROM person WHERE email LIKE '%@google.de';        %百分号是sql语句中的占位符，代表任意字符

 id  | first_name | last_name |   gender   | date_of_birth |        email        | country_of_birth 
-----+------------+-----------+------------+---------------+---------------------+------------------
 386 | Brittan    | Cardoe    | Male       | 2021-02-20    | bcardoeap@google.de | Poland
 481 | Tony       | Lower     | Non-binary | 2020-11-13    | tlowerdc@google.de  | Portugal
(2 rows)



test=# SELECT * FROM person WHERE email LIKE '%@google.%';             可以用多个%占位
 id  | first_name | last_name  |   gender    | date_of_birth |           email            | country_of_birth 
-----+------------+------------+-------------+---------------+----------------------------+------------------
 328 | Shawnee    | Fassam     | Male        | 2021-02-28    | sfassam93@google.nl        | Croatia
 386 | Brittan    | Cardoe     | Male        | 2021-02-20    | bcardoeap@google.de        | Poland
 459 | Chevy      | Evenett    | Male        | 2020-07-28    | cevenettcq@google.com.br   | Portugal
 635 | Rayshell   | Niles      | Female      | 2021-01-11    | rnileshm@google.com.au     | France
 737 | Samson     | Sucre      | Male        | 2020-04-01    | ssucrekg@google.com.hk     | Indonesia
 900 | Haskell    | Blastock   | Female      | 2020-12-09    | hblastockoz@google.it      | China
 932 | Rosaline   | MacNelly   | Agender     | 2020-12-25    | rmacnellypv@google.it      | Bangladesh
 991 | Fulton     | Keme       | Female      | 2021-02-24    | fkemeri@google.co.uk       | Tunisia
 211 | Rosette    | Cattini    | Bigender    | 2020-08-25    | rcattini5u@google.pl       | United States
 276 | Charmain   | Thomas     | Bigender    | 2020-07-14    | cthomas7n@google.nl        | Japan
 287 | Francoise  | Kerswill   | Polygender  | 2020-04-14    | fkerswill7y@google.cn      | Indonesia
 371 | Carmine    | Shellard   | Polygender  | 2020-09-17    | cshellardaa@google.com.au  | Brazil
 481 | Tony       | Lower      | Non-binary  | 2020-11-13    | tlowerdc@google.de         | Portugal
 486 | Hasty      | Cleeton    | Polygender  | 2021-02-02    | hcleetondh@google.fr       | Brazil
 514 | Micheil    | Farnfield  | Genderqueer | 2020-08-02    | mfarnfielde9@google.pl     | Portugal
 648 | Linet      | Rushsorth  | Bigender    | 2020-07-13    | lrushsorthhz@google.com.br | France
 701 | Gannie     | Kopke      | Genderfluid | 2020-07-13    | gkopkejg@google.cn         | France
 786 | Aileen     | Chaikovski | Bigender    | 2021-03-15    | achaikovskilt@google.es    | Russia
 790 | Daron      | Stenett    | Non-binary  | 2020-09-27    | dstenettlx@google.cn       | South Korea
 793 | Charlotte  | Paunsford  | Genderqueer | 2020-12-29    | cpaunsfordm0@google.ca     | France
 884 | Rhonda     | Ossipenko  | Genderqueer | 2020-07-08    | rossipenkooj@google.ru     | Russia
 903 | Elsi       | Tidbury    | Genderqueer | 2021-02-05    | etidburyp2@google.it       | Mexico
 995 | Euell      | Pettersen  | Genderqueer | 2020-06-19    | epettersenrm@google.com.au | Finland
(23 rows)

## LIKE, 使用 _ 占位，每个下划线代表一个字符

test=# SELECT * FROM person WHERE email LIKE '______@%';                此处的用了 6 个下划线 _，所以搜出来的结果是@前包含6个字符的数据。

 id  | first_name | last_name |   gender   | date_of_birth |         email          | country_of_birth 
-----+------------+-----------+------------+---------------+------------------------+------------------
  66 | Burke      | Oxx       | Bigender   | 2020-06-12    | boxx1t@bizjournals.com | Pakistan
 587 | Corbie     | Dye       | Non-binary | 2020-06-19    | cdyega@ca.gov          | Thailand
 782 | Felice     | Hew       | Non-binary | 2020-12-18    | fhewlp@foxnews.com     | Guatemala
 998 | Gusty      | Bau       | Bigender   | 2021-01-06    | gbaurp@uol.com.br      | Peru
(4 rows)

ILIKE 不会区分大小写，都显示在结果中

211118 看到 1：42：40

## GROUP BY 的使用，select部分包括待gb的列和所需结果类型对应的列，比如计数 COUNT()

test=# SELECT country_of_birth, COUNT(*) FROM person GROUP BY country_of_birth;
test=#

## 和 GROUP BY 一同使用的 HAVING

test=# SELECT country_of_birth, COUNT(*) FROM person GROUP BY country_of_birth HAVING COUNT(*) > 10 ORDER BY COUNT(*) DESC;
 country_of_birth | count 
------------------+-------
 China            |   181
 Indonesia        |   106
 Russia           |    58
 Philippines      |    50
 Portugal         |    44
 Poland           |    40
 Brazil           |    37
 France           |    36
 United States    |    24
 Sweden           |    20
 Japan            |    18
 Argentina        |    17
 Ukraine          |    16
 Peru             |    15
 Thailand         |    15
 Colombia         |    13
 Vietnam          |    11
(17 rows)

看到 1：51：51

## 使用 MAX() MIN() AVG(), 后面跟group by

test=# SELECT make, MAX(price) FROM car GROUP BY make;
test=#

## SUM()

## 代数运算 直接select 加公式

test=# SELECT 10 *2 -5;
 ?column? 
----------
       15
(1 row)

看到2：03：46

## 阶乘：不能用！了，改为factorial()

test=# select 5!;
ERROR:  syntax error at or near ";"
LINE 1: select 5!;
                 ^
                 
test=# select factorial(5);
 factorial 
-----------
       120
(1 row)

test=#

## modular 模数

test=# select 10%3;
 ?column? 
----------
        1
(1 row)

test=#

## AS ... 给column改名

test=# select * from car;
test=# select id, price, ROUND(price - (price*.10),2) as discounted_price from car;
test=#

## coalesce()

test=# select coalesce(email,'email not provided') from person;
test=# 

coalesce                
----------------------------------------
 email not provided
 email not provided
 jdangelo4@spiegel.de
 abartoszewicz5@pcworld.com
 bgirard6@jiathis.com
 cdemko7@indiatimes.com
 jshiltona@youtu.be
 rlocketti@amazon.co.uk
 email not provided

 211201 看到 2：16：18

# 非linux版本postgresql示例

In [ ]:
import pandas as pd
engine = 'postgres:///test'
sql_raw = pd.read_sql("SELECT * FROM person;", conn) #因为sql变量随时在变，所以预留一个完整df，方便做Python版本代码对比时调用

sql = pd.read_sql(
    "SELECT * FROM person WHERE gender = 'Female'"
    "AND (country_of_birth = 'Poland' OR country_of_birth = 'China')"
    "AND last_name = 'Lambdon';",
    'postgres:///test')
sql

In [43]:
# comparison operators 对比操作
import pandas as pd
engine = 'postgres:///test' #设置要连接的数据库table
sql = pd.read_sql("SELECT 1 = 1;", engine) #判断功能 comparison operator
sql = pd.read_sql("SELECT 1<>1", engine)
sql

   ?column?
0     False

In [49]:
# LIMIT
import pandas as pd
df = sql_raw[:10]
print(df)
sql = pd.read_sql("SELECT * FROM person LIMIT 10;", engine)
print(sql)

   id first_name     last_name                       email       gender  \
0   1     Shayla     Blanckley                        None   Non-binary
1   2      Merry       Tummond            mtummond1@ca.gov   Non-binary
2   3    Ximenes      Edmeades         xedmeades2@webs.com  Genderqueer
3   4       Toma     McQuillin                        None      Agender
4   5     Joshia     D' Angelo        jdangelo4@spiegel.de       Female
5   6     Anitra  Bartoszewicz  abartoszewicz5@pcworld.com      Agender
6   7   Barnebas        Girard        bgirard6@jiathis.com         Male
7   8      Casey         Demko      cdemko7@indiatimes.com       Female
8   9     Babbie        Whisby           bwhisby8@ebay.com   Non-binary
9  10      Fiann       Axtonne        faxtonne9@spiegel.de  Genderfluid

  date_of_birth country_of_birth
0    2020-11-15        Indonesia
1    2020-09-13            China
2    2020-05-30           Poland
3    2020-05-11          Vietnam
4    2020-12-05        Argentina
5    2020-12-29          Vietnam
6    2021-01-08            China
7    2020-04-17             Peru
8    2020-04-06        Macedonia
9    2020-11-29           Russia
   id first_name     last_name                       email       gender  \
0   1     Shayla     Blanckley                        None   Non-binary
1   2      Merry       Tummond            mtummond1@ca.gov   Non-binary
2   3    Ximenes      Edmeades         xedmeades2@webs.com  Genderqueer
3   4       Toma     McQuillin                        None      Agender
4   5     Joshia     D' Angelo        jdangelo4@spiegel.de       Female
5   6     Anitra  Bartoszewicz  abartoszewicz5@pcworld.com      Agender
6   7   Barnebas        Girard        bgirard6@jiathis.com         Male
7   8      Casey         Demko      cdemko7@indiatimes.com       Female
8   9     Babbie        Whisby           bwhisby8@ebay.com   Non-binary
9  10      Fiann       Axtonne        faxtonne9@spiegel.de  Genderfluid

  date_of_birth country_of_birth
0    2020-11-15        Indonesia
1    2020-09-13            China
2    2020-05-30           Poland
3    2020-05-11          Vietnam
4    2020-12-05        Argentina
5    2020-12-29          Vietnam
6    2021-01-08            China
7    2020-04-17             Peru
8    2020-04-06        Macedonia
9    2020-11-29           Russia

In [53]:
# OFFSET 命令 分页
import pandas as pd
sql = pd.read_sql("SELECT * FROM person OFFSET 5 LIMIT 5;", engine)
sql = pd.read_sql("SELECT * FROM person OFFSET 5 FETCH FIRST 5 ROW ONLY;", engine) #跟上一行功能一样，但这个是所谓sql的标准语法。。。
df = sql_raw[6:11]
df
sql

,id,first_name,last_name,email,gender,date_of_birth,country_of_birth
0,6,Anitra,Bartoszewicz,abartoszewicz5@pcworld.com,Agender,2020-12-29,Vietnam
1,7,Barnebas,Girard,bgirard6@jiathis.com,Male,2021-01-08,China
2,8,Casey,Demko,cdemko7@indiatimes.com,Female,2020-04-17,Peru
3,9,Babbie,Whisby,bwhisby8@ebay.com,Non-binary,2020-04-06,Macedonia
4,10,Fiann,Axtonne,faxtonne9@spiegel.de,Genderfluid,2020-11-29,Russia

In [70]:
# IN
import pandas as pd
sql = pd.read_sql("SELECT * FROM person WHERE country_of_birth IN ('China','France','Brazil');", engine)
df = sql_raw.loc[sql_raw['country_of_birth'].isin(['China', 'France', 'Brazil'])]
df

,id,first_name,last_name,email,gender,date_of_birth,country_of_birth
1,2,Merry,Tummond,mtummond1@ca.gov,Non-binary,2020-09-13,China
6,7,Barnebas,Girard,bgirard6@jiathis.com,Male,2021-01-08,China
16,17,Suzanna,Girard,sgirardg@usa.gov,Polygender,2021-03-12,France
17,18,Wang,Quiddington,wquiddingtonh@etsy.com,Polygender,2021-03-26,France
27,28,Sibylla,Lambdon,slambdonr@wp.com,Female,2020-12-01,China
32,33,Ivor,Filipczynski,ifilipczynskiw@reuters.com,Agender,2020-06-07,China
36,37,Frasquito,Ranscomb,franscomb10@blogtalkradio.com,Genderqueer,2020-04-05,China
37,38,Binni,Cordeau],bcordeau11@yellowpages.com,Bigender,2020-05-14,China
39,40,Fons,Pickover,fpickover13@whitehouse.gov,Bigender,2020-07-25,France
40,41,Sarene,Wadwell,swadwell14@marketwatch.com,Polygender,2020-05-15,China
43,44,Jereme,Pyvis,jpyvis17@t-online.de,Bigender,2020-07-17,Brazil
46,47,Kristy,Bayman,kbayman1a@sohu.com,Genderfluid,2021-02-16,Brazil
48,49,Datha,Harwin,dharwin1c@edublogs.org,Male,2020-07-15,China
49,50,Lurette,Bolam,None,Male,2020-12-24,France
60,61,Florinda,Rennick,None,Male,2021-01-28,Brazil
61,62,Vittorio,Maggill'Andreis,None,Polygender,2021-01-14,France
66,67,Wakefield,Dauncey,wdauncey1u@wix.com,Genderfluid,2020-12-08,China
67,68,Ruthanne,MacCartair,None,Genderfluid,2020-05-23,Brazil
73,74,Catha,Zukierman,czukierman21@unblog.fr,Genderqueer,2021-01-22,France
80,81,Minette,Dooly,mdooly28@cloudflare.com,Agender,2020-10-17,China
85,86,Annette,Brewer,abrewer2d@disqus.com,Genderfluid,2020-08-30,China
86,87,Jess,Penkman,None,Bigender,2020-07-14,China
90,91,Newton,Phillippo,nphillippo2i@wunderground.com,Female,2020-05-16,China
95,96,Tami,Carous,None,Agender,2021-03-25,China
98,99,Patricia,McMickan,pmcmickan2q@amazonaws.com,Polygender,2020-06-05,China
102,103,Arlee,Jeanesson,ajeanesson2u@wikipedia.org,Genderfluid,2020-10-24,China
106,107,Pat,Pervew,None,Female,2020-12-18,France
111,112,Sharlene,Malling,smalling33@privacy.gov.au,Male,2020-05-18,China
113,114,Staford,Skyram,sskyram35@chron.com,Agender,2020-06-15,China
114,115,Dodie,Stockman,dstockman36@jigsy.com,Agender,2020-10-13,China
...,...,...,...,...,...,...,...
891,892,Clemence,Jeppe,None,Agender,2021-01-09,China
893,894,Evvy,Rewbottom,erewbottomot@t-online.de,Female,2020-07-30,France
894,895,Georgina,Raselles,grasellesou@businessweek.com,Genderfluid,2020-10-02,China
896,897,Dedra,Rathbourne,None,Agender,2020-07-25,Brazil
899,900,Haskell,Blastock,hblastockoz@google.it,Female,2020-12-09,China
900,901,Cordey,Stede,cstedep0@1und1.de,Genderqueer,2020-05-21,China
901,902,Shellie,Dudny,sdudnyp1@clickbank.net,Genderqueer,2020-04-14,China
904,905,Matilde,Anderbrugge,manderbruggep4@pagesperso-orange.fr,Female,2020-04-12,China
907,908,Torin,Caughte,tcaughtep7@51.la,Agender,2020-07-26,China
910,911,Saunders,Sinisbury,ssinisburypa@ebay.com,Male,2020-08-14,China
921,922,Lonee,Ruston,lrustonpl@amazon.co.uk,Bigender,2020-05-25,China
925,926,Aleta,Hirsch,ahirschpp@slideshare.net,Polygender,2020-12-29,China
927,928,Ahmad,Littlefield,alittlefieldpr@cbslocal.com,Agender,2020-05-16,China
928,929,Kaela,Sibray,ksibrayps@bizjournals.com,Genderqueer,2021-01-12,France
933,934,Vladimir,Brogioni,vbrogionipx@stanford.edu,Genderfluid,2020-04-11,China
937,938,Welsh,Lionel,wlionelq1@imgur.com,Non-binary,2020-08-29,China
941,942,Nicol,Antrim,nantrimq5@hexun.com,Non-binary,2020-07-21,Brazil
945,946,Leone,Beernaert,lbeernaertq9@nature.com,Non-binary,2020-11-25,Brazil
947,948,Gare,Bambridge,gbambridgeqb@state.tx.us,Bigender,2021-03-27,Brazil
951,952,Viola,Blenkin,vblenkinqf@harvard.edu,Male,2020-06-24,China
954,955,Cordy,Otter,cotterqi@macromedia.com,Genderqueer,2020-07-23,China
956,957,Carol,Gillham,None,Genderqueer,2021-03-15,China
958,959,Virginie,O'Ruane,voruaneqm@issuu.com,Female,2020-12-07,China
959,960,Emili,Chatain,None,Bigender,2021-03-04,China
967,968,Stephannie,Parkyns,sparkynsqv@github.io,Non-binary,2020-04-13,Brazil
970,971,Sibylle,Yemm,None,Genderfluid,2021-01-11,Brazil
973,974,Dayle,Grigg,dgriggr1@wunderground.com,Non-binary,2020-04-13,China
987,988,Germaine,Daventry,None,Male,2021-03-04,France
989,990,Creigh,Hickenbottom,chickenbottomrh@redcross.org,Male,2020-11-13,China
992,993,Nolie,Rosie,nrosierk@yahoo.com,Male,2020-11-24,China

In [111]:
# BETWEEN
import pandas as pd
sql = pd.read_sql("SELECT * FROM person WHERE date_of_birth " #如果分行/换行，不能忘记行末空格
                  "BETWEEN DATE '2000-01-01' AND '2020-12-01';",
                  engine)

import datetime
start_time = datetime.date(2020,1,1) #为了能够和数据库中'date_of_birth'的数据类型进行对比而进行的操作
end_time = datetime.date(2020,12,1)
df = sql_raw.loc[(sql_raw['date_of_birth'] >= start_time) & (sql_raw['date_of_birth'] <= end_time)]
df

,id,first_name,last_name,email,gender,date_of_birth,country_of_birth
0,1,Shayla,Blanckley,None,Non-binary,2020-11-15,Indonesia
1,2,Merry,Tummond,mtummond1@ca.gov,Non-binary,2020-09-13,China
2,3,Ximenes,Edmeades,xedmeades2@webs.com,Genderqueer,2020-05-30,Poland
3,4,Toma,McQuillin,None,Agender,2020-05-11,Vietnam
7,8,Casey,Demko,cdemko7@indiatimes.com,Female,2020-04-17,Peru
8,9,Babbie,Whisby,bwhisby8@ebay.com,Non-binary,2020-04-06,Macedonia
9,10,Fiann,Axtonne,faxtonne9@spiegel.de,Genderfluid,2020-11-29,Russia
10,11,Johnette,Shilton,jshiltona@youtu.be,Male,2020-11-11,Philippines
11,12,Vevay,Tonbridge,vtonbridgeb@foxnews.com,Bigender,2020-06-07,East Timor
12,13,Staci,Holleran,sholleranc@latimes.com,Genderfluid,2020-11-15,Morocco
13,14,Miran,Eatock,meatockd@com.com,Bigender,2020-08-31,Colombia
14,15,Stephie,Gehrts,sgehrtse@ifeng.com,Genderfluid,2020-11-08,Indonesia
18,19,Roi,Lockett,rlocketti@amazon.co.uk,Female,2020-04-30,Philippines
19,20,Drugi,Allcott,None,Agender,2020-11-29,Sweden
22,23,Amabel,Lisett,alisettm@shinystat.com,Genderqueer,2020-06-08,Indonesia
24,25,Sherman,Attrey,sattreyo@nature.com,Male,2020-10-16,Sweden
27,28,Sibylla,Lambdon,slambdonr@wp.com,Female,2020-12-01,China
29,30,Vickie,Taylour,vtaylourt@bigcartel.com,Genderqueer,2020-11-06,Russia
30,31,Roberto,Borkett,rborkettu@archive.org,Genderqueer,2020-11-01,Poland
32,33,Ivor,Filipczynski,ifilipczynskiw@reuters.com,Agender,2020-06-07,China
35,36,Issie,Domney,idomneyz@deviantart.com,Polygender,2020-09-06,Thailand
36,37,Frasquito,Ranscomb,franscomb10@blogtalkradio.com,Genderqueer,2020-04-05,China
37,38,Binni,Cordeau],bcordeau11@yellowpages.com,Bigender,2020-05-14,China
38,39,Beth,Dongall,bdongall12@pcworld.com,Polygender,2020-06-02,Portugal
39,40,Fons,Pickover,fpickover13@whitehouse.gov,Bigender,2020-07-25,France
40,41,Sarene,Wadwell,swadwell14@marketwatch.com,Polygender,2020-05-15,China
42,43,Othilia,Lightowlers,None,Polygender,2020-05-02,Japan
43,44,Jereme,Pyvis,jpyvis17@t-online.de,Bigender,2020-07-17,Brazil
44,45,Basilius,Walles,bwalles18@virginia.edu,Male,2020-04-23,Thailand
47,48,Wendeline,Mallabone,wmallabone1b@dmoz.org,Genderfluid,2020-06-03,Portugal
...,...,...,...,...,...,...,...
948,949,Britt,Parcall,bparcallqc@chron.com,Male,2020-09-22,Indonesia
949,950,Henrie,Norridge,hnorridgeqd@yolasite.com,Non-binary,2020-04-16,Indonesia
950,951,Andi,Birdfield,abirdfieldqe@marriott.com,Non-binary,2020-09-21,Indonesia
951,952,Viola,Blenkin,vblenkinqf@harvard.edu,Male,2020-06-24,China
953,954,Mayor,Crips,mcripsqh@opera.com,Male,2020-06-17,Costa Rica
954,955,Cordy,Otter,cotterqi@macromedia.com,Genderqueer,2020-07-23,China
961,962,Vera,Cuzen,vcuzenqp@icio.us,Genderfluid,2020-11-02,Poland
962,963,Winnie,Tomblings,wtomblingsqq@upenn.edu,Bigender,2020-09-09,Indonesia
963,964,Natale,Drakeford,None,Polygender,2020-08-29,Pakistan
965,966,Marshall,Fenna,None,Male,2020-11-15,Colombia
966,967,Daryle,Loynton,dloyntonqu@pen.io,Polygender,2020-03-31,Indonesia
967,968,Stephannie,Parkyns,sparkynsqv@github.io,Non-binary,2020-04-13,Brazil
968,969,Garv,Skermer,gskermerqw@fc2.com,Bigender,2020-07-27,Peru
971,972,Karel,Groome,kgroomeqz@opensource.org,Genderqueer,2020-05-13,Indonesia
972,973,Etheline,Corroyer,ecorroyerr0@4shared.com,Genderfluid,2020-08-22,Paraguay
973,974,Dayle,Grigg,dgriggr1@wunderground.com,Non-binary,2020-04-13,China
974,975,Lauralee,Spellworth,lspellworthr2@amazon.co.jp,Female,2020-07-05,Indonesia
975,976,Jaynell,MacPike,None,Female,2020-10-17,United States
977,978,Sioux,Sarsfield,None,Genderfluid,2020-10-18,Japan
981,982,Alyss,Blaver,ablaverr9@sina.com.cn,Bigender,2020-07-12,Russia
983,984,Coralyn,Galle,None,Polygender,2020-06-11,Philippines
985,986,Ellerey,Haw,None,Polygender,2020-04-26,Ecuador
989,990,Creigh,Hickenbottom,chickenbottomrh@redcross.org,Male,2020-11-13,China
991,992,Jocelyne,Sweatland,jsweatlandrj@elegantthemes.com,Female,2020-04-16,Poland
992,993,Nolie,Rosie,nrosierk@yahoo.com,Male,2020-11-24,China
993,994,Xenos,Ridings,xridingsrl@drupal.org,Female,2020-07-24,Ukraine
994,995,Euell,Pettersen,epettersenrm@google.com.au,Genderqueer,2020-06-19,Finland
995,996,Kenn,Shoobridge,kshoobridgern@opera.com,Genderqueer,2020-10-02,Ukraine
996,997,Skipton,McCoughan,smccoughanro@fc2.com,Bigender,2020-10-23,Indonesia
998,999,Zeke,Putterill,None,Male,2020-09-14,Philippines

In [131]:
# LIKE
import pandas as pd
# You have to give %% to use it as % because % in python is use as string formatting 
# so when you write single % its assume that you are going to replace some value with this.
sql = pd.read_sql("SELECT * FROM person WHERE email LIKE '%%@google.%%';", engine) #得用双%

#需要加上 na = False,f否则出现下面报错：
#ValueError: cannot index with vector containing NA / NaN values
df = sql_raw.loc[sql_raw['email'].str.contains('@google.', na = False)]
df
sql

,id,first_name,last_name,email,gender,date_of_birth,country_of_birth
0,211,Rosette,Cattini,rcattini5u@google.pl,Bigender,2020-08-25,United States
1,276,Charmain,Thomas,cthomas7n@google.nl,Bigender,2020-07-14,Japan
2,287,Francoise,Kerswill,fkerswill7y@google.cn,Polygender,2020-04-14,Indonesia
3,328,Shawnee,Fassam,sfassam93@google.nl,Male,2021-02-28,Croatia
4,371,Carmine,Shellard,cshellardaa@google.com.au,Polygender,2020-09-17,Brazil
5,386,Brittan,Cardoe,bcardoeap@google.de,Male,2021-02-20,Poland
6,459,Chevy,Evenett,cevenettcq@google.com.br,Male,2020-07-28,Portugal
7,481,Tony,Lower,tlowerdc@google.de,Non-binary,2020-11-13,Portugal
8,486,Hasty,Cleeton,hcleetondh@google.fr,Polygender,2021-02-02,Brazil
9,514,Micheil,Farnfield,mfarnfielde9@google.pl,Genderqueer,2020-08-02,Portugal
10,635,Rayshell,Niles,rnileshm@google.com.au,Female,2021-01-11,France
11,648,Linet,Rushsorth,lrushsorthhz@google.com.br,Bigender,2020-07-13,France
12,701,Gannie,Kopke,gkopkejg@google.cn,Genderfluid,2020-07-13,France
13,737,Samson,Sucre,ssucrekg@google.com.hk,Male,2020-04-01,Indonesia
14,786,Aileen,Chaikovski,achaikovskilt@google.es,Bigender,2021-03-15,Russia
15,790,Daron,Stenett,dstenettlx@google.cn,Non-binary,2020-09-27,South Korea
16,793,Charlotte,Paunsford,cpaunsfordm0@google.ca,Genderqueer,2020-12-29,France
17,884,Rhonda,Ossipenko,rossipenkooj@google.ru,Genderqueer,2020-07-08,Russia
18,900,Haskell,Blastock,hblastockoz@google.it,Female,2020-12-09,China
19,903,Elsi,Tidbury,etidburyp2@google.it,Genderqueer,2021-02-05,Mexico
20,932,Rosaline,MacNelly,rmacnellypv@google.it,Agender,2020-12-25,Bangladesh
21,991,Fulton,Keme,fkemeri@google.co.uk,Female,2021-02-24,Tunisia
22,995,Euell,Pettersen,epettersenrm@google.com.au,Genderqueer,2020-06-19,Finland

In [175]:
# LIKE 使用 _ 下划线作为占位符

import pandas as pd
engine = 'postgres:///test'
#下划线数量代表此处应有字符数量
sql = pd.read_sql("SELECT * FROM person WHERE email LIKE '________@%%';", engine)
#df = sql_raw.loc[sql_raw['email'].filter(regex = r'.*')]
#下一行：regex的pattern中，加不加()都可以成功
df = sql_raw.loc[sql_raw['email'].str.contains(r'^(.{8})@', na = False, regex = True)] # ^从头匹配；｛8｝匹配exactly8次
sql
df

/home/xiucatwithmark/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

,id,first_name,last_name,email,gender,date_of_birth,country_of_birth
6,7,Barnebas,Girard,bgirard6@jiathis.com,Male,2021-01-08,China
8,9,Babbie,Whisby,bwhisby8@ebay.com,Non-binary,2020-04-06,Macedonia
13,14,Miran,Eatock,meatockd@com.com,Bigender,2020-08-31,Colombia
14,15,Stephie,Gehrts,sgehrtse@ifeng.com,Genderfluid,2020-11-08,Indonesia
16,17,Suzanna,Girard,sgirardg@usa.gov,Polygender,2021-03-12,France
21,22,Kathye,Kimbly,kkimblyl@slideshare.net,Agender,2020-12-27,Russia
22,23,Amabel,Lisett,alisettm@shinystat.com,Genderqueer,2020-06-08,Indonesia
24,25,Sherman,Attrey,sattreyo@nature.com,Male,2020-10-16,Sweden
25,26,Creighton,Billie,cbilliep@slideshare.net,Non-binary,2020-12-09,Guatemala
34,35,Charyl,Ninnis,cninnisy@redcross.org,Agender,2021-03-06,Indonesia
35,36,Issie,Domney,idomneyz@deviantart.com,Polygender,2020-09-06,Thailand
43,44,Jereme,Pyvis,jpyvis17@t-online.de,Bigender,2020-07-17,Brazil
45,46,Yehudit,Clist,yclist19@vistaprint.com,Bigender,2021-01-07,Netherlands
80,81,Minette,Dooly,mdooly28@cloudflare.com,Agender,2020-10-17,China
105,106,Tristam,Aslin,taslin2x@people.com.cn,Genderfluid,2020-04-05,Guyana
132,133,Renard,Hance,rhance3o@prlog.org,Polygender,2020-06-14,China
154,155,Randie,Busch,rbusch4a@sciencedirect.com,Non-binary,2020-08-20,Ukraine
178,179,Tiffany,Troth,ttroth4y@simplemachines.org,Genderfluid,2020-04-05,Poland
180,181,Orin,Dykes,odykes50@mozilla.org,Non-binary,2020-12-15,Philippines
183,184,Charlotta,Brook,cbrook53@sina.com.cn,Agender,2021-02-08,Portugal
187,188,Sallie,Azema,sazema57@1und1.de,Agender,2020-10-03,Slovenia
217,218,Ricki,Goter,rgoter61@furl.net,Bigender,2020-04-29,China
230,231,Prentiss,Jacob,pjacob6e@wunderground.com,Polygender,2021-01-08,China
236,237,Yves,Hynam,yhynam6k@domainmarket.com,Bigender,2020-06-24,Argentina
238,239,Faustina,Anear,fanear6m@ustream.tv,Genderqueer,2020-04-01,China
244,245,Sylvester,Batty,sbatty6s@godaddy.com,Non-binary,2021-02-10,Indonesia
280,281,Tobey,Stobo,tstobo7s@unc.edu,Non-binary,2020-12-10,China
316,317,Michaela,Ogger,mogger8s@themeforest.net,Female,2020-05-21,Senegal
331,332,Clem,Jirik,cjirik97@ovh.net,Male,2021-03-04,China
355,356,Davon,Giggs,dgiggs9v@mtv.com,Bigender,2020-07-09,Portugal
...,...,...,...,...,...,...,...
768,769,Merilyn,Olden,moldenlc@parallels.com,Female,2020-11-29,Russia
779,780,Denise,Friel,dfrielln@hatena.ne.jp,Male,2020-10-12,Indonesia
795,796,Vonni,Amott,vamottm3@techcrunch.com,Agender,2020-05-07,United States
798,799,Rolando,Fruin,rfruinm6@reference.com,Polygender,2020-12-07,China
803,804,Louie,Tinan,ltinanmb@senate.gov,Genderqueer,2020-07-02,Mexico
838,839,Edmund,Neath,eneathna@list-manage.com,Male,2020-12-30,Colombia
843,844,Virge,Pyett,vpyettnf@51.la,Male,2020-09-16,Thailand
844,845,Hester,Semor,hsemorng@mashable.com,Genderfluid,2020-07-02,Portugal
853,854,Guenevere,Klamp,gklampnp@bbb.org,Female,2020-09-11,North Korea
881,882,Ebonee,Yekel,eyekeloh@cisco.com,Non-binary,2020-04-29,China
884,885,Janetta,Swyer,jswyerok@reddit.com,Bigender,2020-10-11,Vietnam
889,890,Durante,Munby,dmunbyop@github.com,Non-binary,2020-12-05,Portugal
898,899,Jeffrey,Negus,jnegusoy@liveinternet.ru,Bigender,2020-10-25,Sweden
900,901,Cordey,Stede,cstedep0@1und1.de,Genderqueer,2020-05-21,China
901,902,Shellie,Dudny,sdudnyp1@clickbank.net,Genderqueer,2020-04-14,China
903,904,Thor,Boole,tboolep3@spiegel.de,Male,2020-06-22,New Caledonia
917,918,Cchaddie,Spear,cspearph@netvibes.com,Polygender,2020-06-09,Indonesia
919,920,Delly,Brick,dbrickpj@hexun.com,Genderfluid,2020-05-28,Indonesia
922,923,Curry,Dines,cdinespm@deviantart.com,Bigender,2020-09-15,Somalia
923,924,Gayle,Elsey,gelseypn@taobao.com,Male,2021-01-13,Poland
938,939,Arlina,Ugoni,augoniq2@sciencedirect.com,Agender,2021-03-03,Venezuela
953,954,Mayor,Crips,mcripsqh@opera.com,Male,2020-06-17,Costa Rica
954,955,Cordy,Otter,cotterqi@macromedia.com,Genderqueer,2020-07-23,China
961,962,Vera,Cuzen,vcuzenqp@icio.us,Genderfluid,2020-11-02,Poland
964,965,Ardis,Goade,agoadeqs@youtu.be,Genderfluid,2020-12-25,Chile
973,974,Dayle,Grigg,dgriggr1@wunderground.com,Non-binary,2020-04-13,China
978,979,Hamlin,Huddy,hhuddyr6@prnewswire.com,Polygender,2021-03-02,Argentina
982,983,Rhonda,Blaza,rblazara@ed.gov,Genderqueer,2021-02-11,Botswana
988,989,Erl,Exrol,eexrolrg@zdnet.com,Non-binary,2021-01-26,Saudi Arabia
992,993,Nolie,Rosie,nrosierk@yahoo.com,Male,2020-11-24,China

In [178]:
# ILIKE 不区分大小写

import pandas as pd
engine = 'postgres:///test'
sql = pd.read_sql("SELECT * FROM person WHERE country_of_birth ILIKE 'p%%';", engine)
sql

,id,first_name,last_name,email,gender,date_of_birth,country_of_birth
0,3,Ximenes,Edmeades,xedmeades2@webs.com,Genderqueer,2020-05-30,Poland
1,8,Casey,Demko,cdemko7@indiatimes.com,Female,2020-04-17,Peru
2,11,Johnette,Shilton,jshiltona@youtu.be,Male,2020-11-11,Philippines
3,19,Roi,Lockett,rlocketti@amazon.co.uk,Female,2020-04-30,Philippines
4,31,Roberto,Borkett,rborkettu@archive.org,Genderqueer,2020-11-01,Poland
5,39,Beth,Dongall,bdongall12@pcworld.com,Polygender,2020-06-02,Portugal
6,42,Johny,Hoggan,jhoggan15@opensource.org,Genderqueer,2020-12-31,Poland
7,48,Wendeline,Mallabone,wmallabone1b@dmoz.org,Genderfluid,2020-06-03,Portugal
8,53,Bartram,Lindblad,None,Male,2020-09-09,Philippines
9,65,Boonie,Raspin,braspin1s@buzzfeed.com,Polygender,2020-07-24,Portugal
10,66,Burke,Oxx,boxx1t@bizjournals.com,Bigender,2020-06-12,Pakistan
11,71,Randi,Paramor,rparamor1y@omniture.com,Genderfluid,2020-06-14,Philippines
12,84,Rasia,Corzon,None,Genderfluid,2020-11-22,Philippines
13,92,Ermin,Nairns,enairns2j@diigo.com,Genderfluid,2021-03-12,Philippines
14,98,Steward,Andrault,sandrault2p@webnode.com,Genderfluid,2021-03-22,Philippines
15,101,Sharleen,Wrassell,None,Genderqueer,2020-10-24,Portugal
16,110,Kamillah,Neiland,kneiland31@yelp.com,Bigender,2021-01-18,Philippines
17,126,Gretta,Burfield,None,Male,2020-07-26,Portugal
18,130,Sue,Ealles,sealles3l@goodreads.com,Polygender,2020-06-10,Poland
19,132,Pamella,Fulton,pfulton3n@godaddy.com,Polygender,2020-11-13,Philippines
20,136,Ignacio,Dutteridge,idutteridge3r@networksolutions.com,Female,2021-02-27,Portugal
21,137,Ashla,Maylin,None,Non-binary,2020-12-28,Philippines
22,142,Gilbertina,Yoslowitz,gyoslowitz3x@purevolume.com,Polygender,2020-10-23,Poland
23,143,Rori,Lidden,None,Non-binary,2020-06-18,Philippines
24,158,Alie,Kyte,akyte4d@princeton.edu,Male,2020-08-14,Peru
25,179,Tiffany,Troth,ttroth4y@simplemachines.org,Genderfluid,2020-04-05,Poland
26,180,Sharleen,Sendall,None,Male,2020-06-18,Portugal
27,181,Orin,Dykes,odykes50@mozilla.org,Non-binary,2020-12-15,Philippines
28,184,Charlotta,Brook,cbrook53@sina.com.cn,Agender,2021-02-08,Portugal
29,185,Lauri,Goater,lgoater54@europa.eu,Polygender,2020-09-23,Philippines
...,...,...,...,...,...,...,...
134,831,Freeland,Galbraeth,fgalbraethn2@wikia.com,Genderfluid,2020-10-17,Peru
135,836,Duky,Malafe,dmalafen7@examiner.com,Male,2020-12-23,Poland
136,845,Hester,Semor,hsemorng@mashable.com,Genderfluid,2020-07-02,Portugal
137,863,Brooks,Foulks,None,Female,2020-12-03,Poland
138,865,Elton,Guly,egulyo0@soup.io,Male,2020-12-31,Portugal
139,875,Mercie,McLaggan,mmclagganoa@indiegogo.com,Polygender,2020-04-09,Portugal
140,887,Alanah,Bywater,None,Polygender,2020-08-18,Philippines
141,890,Durante,Munby,dmunbyop@github.com,Non-binary,2020-12-05,Portugal
142,891,Nickie,Skottle,nskottleoq@w3.org,Bigender,2020-07-04,Philippines
143,906,Kippie,Apfelmann,kapfelmannp5@dagondesign.com,Non-binary,2021-03-24,Peru
144,907,Lisbeth,Luckie,lluckiep6@paginegialle.it,Genderfluid,2021-03-17,Portugal
145,915,Carlita,Cullip,None,Male,2021-02-02,Philippines
146,924,Gayle,Elsey,gelseypn@taobao.com,Male,2021-01-13,Poland
147,933,Dionisio,Dybell,ddybellpw@dot.gov,Agender,2020-08-25,Poland
148,944,Codi,Preshaw,cpreshawq7@senate.gov,Genderfluid,2021-03-18,Pakistan
149,947,Travers,Cuddehy,tcuddehyqa@japanpost.jp,Non-binary,2021-01-09,Portugal
150,956,Jeannine,Hare,jhareqj@multiply.com,Male,2020-12-10,Poland
151,958,Tilda,Shackleton,tshackletonql@ask.com,Genderqueer,2021-02-04,Palestinian Territory
152,962,Vera,Cuzen,vcuzenqp@icio.us,Genderfluid,2020-11-02,Poland
153,964,Natale,Drakeford,None,Polygender,2020-08-29,Pakistan
154,969,Garv,Skermer,gskermerqw@fc2.com,Bigender,2020-07-27,Peru
155,973,Etheline,Corroyer,ecorroyerr0@4shared.com,Genderfluid,2020-08-22,Paraguay
156,980,Ardella,Hattrick,ahattrickr7@nyu.edu,Genderqueer,2020-12-22,Philippines
157,981,Douglass,Westrope,None,Non-binary,2021-03-14,Philippines
158,984,Coralyn,Galle,None,Polygender,2020-06-11,Philippines
159,985,Candra,Dies,None,Bigender,2021-03-01,Portugal
160,992,Jocelyne,Sweatland,jsweatlandrj@elegantthemes.com,Female,2020-04-16,Poland
161,998,Gusty,Bau,gbaurp@uol.com.br,Bigender,2021-01-06,Peru
162,999,Zeke,Putterill,None,Male,2020-09-14,Philippines
163,1000,Alvina,Heyfield,None,Non-binary,2021-01-10,Portugal

In [198]:
# GROUP BY 列名, COUNT(*)
# 紧跟其后可用：HAVING COUNT(*) > 5

import pandas as pd
engine = 'postgres:///test'
#下一行：括号里必须有*,否则：
# ProgrammingError: (psycopg2.errors.WrongObjectType) count(*) 
# must be used to call a parameterless aggregate function
sql = pd.read_sql("SELECT country_of_birth, COUNT(*) FROM person "
                  "GROUP BY country_of_birth HAVING COUNT(*) > 5 ORDER BY country_of_birth;", engine)

df = sql_raw.groupby(sql_raw['country_of_birth']).count() #不仅仅返回每个国家的总数，还对每个国家对应别的列的数量进行统计。
df = df.loc[df['id']>=5] #仅保留国家字条数量大于等于5的国家
#df = sql_raw.groupby(sql_raw['country_of_birth']).size() # 仅仅返回每个国家的总数
sql
df

   country_of_birth  count
0         Argentina     17
1            Brazil     37
2            Canada      7
3             China    181
4          Colombia     13
5           Croatia     10
6              Cuba      7
7           Finland      6
8            France     36
9            Greece      6
10         Honduras      7
11        Indonesia    107
12             Iran      7
13            Japan     18
14           Mexico      8
15         Pakistan      8
16             Peru     15
17      Philippines     50
18           Poland     40
19         Portugal     44
20           Russia     58
21     South Africa      8
22      South Korea     10
23           Sweden     20
24         Thailand     15
25          Ukraine     16
26    United States     24
27        Venezuela      9
28          Vietnam     11

In [179]:
# The SELECT DISTINCT statement is used to return only distinct (different) values.

In [224]:
# MAX() MIN() AVG()

import pandas as pd
engine = 'postgres:///test'
sql_car = pd.read_sql("SELECT * FROM car;", engine)

sql = pd.read_sql("SELECT ROUND(AVG(price)) FROM car;", engine)

df = sql_car.loc[sql_car['price'] == min(sql_car['price'])]
df = max(sql_car['price'])
df = round(sql_car['price'].mean())
sql
df

55202

看到 1：56：38

In [232]:
# 根据多个column进行group by选出max,min,mean(avg)等

import pandas as pd
engine = 'postgres:///test'
sql = pd.read_sql("SELECT make, model, MIN(price) FROM car GROUP BY make, model;", engine)
sql = pd.read_sql("SELECT make, MIN(price) FROM car GROUP BY make;", engine)
df = sql_car.groupby([sql_car['make'], sql_car['model']]).min()
sql
df

             make       min
0            Ford  10783.20
1           Smart  32277.08
2        Maserati  41318.59
3           Dodge  10267.07
4        Infiniti  14502.85
5            MINI  21712.21
6         Bentley  25682.99
7          Austin  99443.67
8         Pontiac  11127.53
9        Plymouth  15937.36
10           Audi  15215.52
11          Lexus  10615.23
12           Jeep  19598.29
13          Volvo  14658.51
14          Acura  12226.18
15       Cadillac  11135.17
16         Suzuki  10086.22
17     Mitsubishi  11864.38
18   Aston Martin  54871.79
19          Foose  77874.13
20        Ferrari  69344.60
21       Chrysler  16582.30
22          Isuzu  31023.90
23            GMC  10705.11
24        Maybach  18032.22
25        Lincoln  21503.24
26          Honda  13284.82
27            Ram  35586.11
28         Spyker  58201.21
29         Daewoo  88955.59
30         Morgan  74703.76
31          Scion  55282.34
32      Chevrolet  10732.88
33         Saturn  12155.37
34        Porsche  14701.14
35     Alfa Romeo  56062.75
36          Tesla  60209.82
37         Jaguar  12746.18
38          Lotus  12677.90
39            Kia  12503.54
40        Bugatti  17132.66
41    Lamborghini  24515.12
42  Mercedes-Benz  15126.21
43     Oldsmobile  14320.00
44     Land Rover  13659.07
45          Buick  11572.63
46         Nissan  12797.19
47           Saab  20194.29
48        Hyundai  27395.24
49            Geo  44124.08
50         Subaru  11657.69
51          Mazda  12643.42
52            BMW  10008.62
53     Volkswagen  16351.79
54        Mercury  12162.97
55          Eagle  19102.11
56         Hummer  78555.69
57         Toyota  10571.61

In [233]:
# SUM()

import pandas as pd
engine = 'postgres:///test'

sql = pd.read_sql("SELECT SUM(price) FROM car;", engine)
sql

           sum
0  55202431.99

In [240]:
# arithmetic operators 运算操作符

import pandas as pd
engine = 'postgres:///test'

sql = pd.read_sql("SELECT make, 10+2 FROM car;", engine)
sql = pd.read_sql("SELECT 10*3+8;", engine)
sql = pd.read_sql("SELECT 5!;", engine) #阶乘
sql = pd.read_sql("SELECT 10 %% 3;", engine) #modular 余数
sql

   ?column?
0         1

In [247]:
# round()
# 给sql中新增的列加名字（alias）

import pandas as pd
engine = 'postgres:///test'

sql = pd.read_sql("SELECT make, model, price, ROUND(price*0.10,2) AS price_tenpercent FROM car;", engine)

df = sql_car.copy()
df['price_tenpercent'] = round(df['price']*0.10,2)
sql
df

       id           make              model     price  price_tenpercent
0       1           Ford             Fusion  38873.72           3887.37
1       2  Mercedes-Benz            S-Class  58799.04           5879.90
2       3        Bugatti             Veyron  17132.66           1713.27
3       4            GMC        Sierra 2500  87021.49           8702.15
4       5            GMC      Suburban 2500  49646.83           4964.68
5       6           Ford         Expedition  89131.50           8913.15
6       7         Suzuki                 SJ  67308.56           6730.86
7       8          Scion                 tC  80363.25           8036.33
8       9      Chevrolet       Sportvan G30  13944.13           1394.41
9      10            BMW                 Z8  39428.79           3942.88
10     11          Dodge             Dakota  31483.14           3148.31
11     12           Ford             Ranger  86715.00           8671.50
12     13       Plymouth             Breeze  19767.33           1976.73
13     14          Buick            Century  81697.29           8169.73
14     15           Ford     Econoline E350  27926.19           2792.62
15     16      Chevrolet          Cobalt SS  97868.09           9786.81
16     17        Bentley     Continental GT  59591.56           5959.16
17     18        Lincoln        Continental  71629.71           7162.97
18     19         Suzuki     Daewoo Lacetti  31495.42           3149.54
19     20           Audi                 A4  28713.58           2871.36
20     21      Chevrolet             Camaro  67918.39           6791.84
21     22           Ford             Ranger  87612.52           8761.25
22     23            BMW                 X3  16599.32           1659.93
23     24        Lincoln        Navigator L  21503.24           2150.32
24     25        Maybach                 57  32384.52           3238.45
25     26          Lexus                 GS  73728.85           7372.89
26     27        Pontiac        Trans Sport  80720.63           8072.06
27     28            BMW                530  14245.49           1424.55
28     29           Audi                 A8  66636.39           6663.64
29     30           Audi                 S6  86099.25           8609.93
..    ...            ...                ...       ...               ...
970   971          Mazda      B-Series Plus  38769.77           3876.98
971   972      Chevrolet              Astro  51084.33           5108.43
972   973        Lincoln        Continental  46600.80           4660.08
973   974           Ford             Escape  93158.71           9315.87
974   975          Honda            Odyssey  96337.95           9633.80
975   976            BMW                 X5  42743.67           4274.37
976   977           Saab               9000  28555.17           2855.52
977   978          Eagle             Vision  41576.58           4157.66
978   979           Jeep           Cherokee  67447.06           6744.71
979   980         Toyota             Sienna  89142.75           8914.28
980   981     Mitsubishi            Montero  38266.32           3826.63
981   982      Chevrolet           Corvette  84778.50           8477.85
982   983        Pontiac              Fiero  16596.28           1659.63
983   984     Volkswagen              Jetta  35800.27           3580.03
984   985            BMW                 M3  86612.87           8661.29
985   986        Maybach                 57  32650.25           3265.02
986   987          Dodge             Shadow  95273.71           9527.37
987   988      Chevrolet    Caprice Classic  16990.55           1699.06
988   989      Chevrolet       Sportvan G20  54035.87           5403.59
989   990         Subaru            Tribeca  75438.19           7543.82
990   991          Dodge            Daytona  37210.12           3721.01
991   992          Mazda               RX-7  42721.20           4272.12
992   993     Volkswagen             Type 2  67055.26           6705.53
993   994           Ford           Explorer  13021.50           1302.15
994   995      Chevrolet              Astro  20742.09           2074.21
995   996       Plymouth           Sundance  17064.95           1706.50
996   997     Mitsubishi              Space  37132.59           3713.26
997   998     Land Rover  Range Rover Sport  14652.09           1465.21
998   999     Mitsubishi            Montero  72829.59           7282.96
999  1000      Chevrolet             Camaro  81957.51           8195.75

[1000 rows x 5 columns]

In [258]:
# The NULLIF() function returns NULL if two expressions are equal, otherwise it returns the first expression.

import pandas as pd
engine = 'postgres:///test'
num = '0'
sql = pd.read_sql("SELECT 10 / NULLIF(" + num + ",0);",engine) #除法中分母为null不会报错，只会返回none
sql

   ?column?
0         1

In [261]:
# COALESCE() 返回第一个 not null的值。可以用来填充空行
# NULLIF()

import pandas as pd
engine = 'postgres:///test'

sql = pd.read_sql("SELECT COALESCE(null, 1, 10, null);",engine)
sql = pd.read_sql("SELECT COALESCE(email,'Email not provided') FROM person", engine)#相当于自动填充空行
sql = pd.read_sql("SELECT COALESCE(10 / NULLIF(0,0), 0);",engine)
sql

   coalesce
0         0

看到 2：20：40

In [5]:
# time

import pandas as pd
engine = 'postgres:///test'
sql = pd.read_sql("SELECT NOW();", engine)
sql = pd.read_sql("SELECT NOW()::DATE;", engine)
sql = pd.read_sql("SELECT NOW()::TIME;", engine) #结果：09:42:34.079558

sql = pd.read_sql("SELECT NOW()::DATE + INTERVAL '10 DAYS';", engine)
sql = pd.read_sql("SELECT NOW()::TIME + INTERVAL '10 MINUTES';", engine)
sql

          ?column?
0  10:13:40.717197

In [8]:
# EXTRACT()

import pandas as pd
engine = 'postgres:///test'
sql = pd.read_sql("SELECT EXTRACT(YEAR FROM NOW());", engine)
sql

   date_part
0     2021.0

In [ ]:
# drop primary key constraint

#person_pkey 是被设定为primary key之后自动产生的
# ALTER TABLE person DROP CONSTRAINT person_pkey;

2：36：23

In [6]:

import pandas as pd
engine = 'postgres:///test'
sql = pd.read_sql("ALTER TABLE person ADD PRIMARY KEY (id);", engine)#此行output时：ResourceClosedError: This result object does not return rows. It has been closed automatically.
sql

,id,first_name,last_name,email,gender,date_of_birth,country_of_birth
0,1,Shayla,Blanckley,None,Non-binary,2020-11-15,Indonesia
1,2,Merry,Tummond,mtummond1@ca.gov,Non-binary,2020-09-13,China
2,3,Ximenes,Edmeades,xedmeades2@webs.com,Genderqueer,2020-05-30,Poland
3,4,Toma,McQuillin,None,Agender,2020-05-11,Vietnam
4,5,Joshia,D' Angelo,jdangelo4@spiegel.de,Female,2020-12-05,Argentina
5,6,Anitra,Bartoszewicz,abartoszewicz5@pcworld.com,Agender,2020-12-29,Vietnam
6,7,Barnebas,Girard,bgirard6@jiathis.com,Male,2021-01-08,China
7,8,Casey,Demko,cdemko7@indiatimes.com,Female,2020-04-17,Peru
8,9,Babbie,Whisby,bwhisby8@ebay.com,Non-binary,2020-04-06,Macedonia
9,10,Fiann,Axtonne,faxtonne9@spiegel.de,Genderfluid,2020-11-29,Russia
10,11,Johnette,Shilton,jshiltona@youtu.be,Male,2020-11-11,Philippines
11,12,Vevay,Tonbridge,vtonbridgeb@foxnews.com,Bigender,2020-06-07,East Timor
12,13,Staci,Holleran,sholleranc@latimes.com,Genderfluid,2020-11-15,Morocco
13,14,Miran,Eatock,meatockd@com.com,Bigender,2020-08-31,Colombia
14,15,Stephie,Gehrts,sgehrtse@ifeng.com,Genderfluid,2020-11-08,Indonesia
15,16,Richie,Valentin,rvalentinf@statcounter.com,Genderfluid,2020-12-30,Indonesia
16,17,Suzanna,Girard,sgirardg@usa.gov,Polygender,2021-03-12,France
17,18,Wang,Quiddington,wquiddingtonh@etsy.com,Polygender,2021-03-26,France
18,19,Roi,Lockett,rlocketti@amazon.co.uk,Female,2020-04-30,Philippines
19,20,Drugi,Allcott,None,Agender,2020-11-29,Sweden
20,21,Isidoro,McLaren,imclarenk@github.io,Polygender,2021-02-13,Indonesia
21,22,Kathye,Kimbly,kkimblyl@slideshare.net,Agender,2020-12-27,Russia
22,23,Amabel,Lisett,alisettm@shinystat.com,Genderqueer,2020-06-08,Indonesia
23,24,Carlee,Rainsden,crainsdenn@geocities.jp,Agender,2021-02-03,Argentina
24,25,Sherman,Attrey,sattreyo@nature.com,Male,2020-10-16,Sweden
25,26,Creighton,Billie,cbilliep@slideshare.net,Non-binary,2020-12-09,Guatemala
26,27,Aguistin,Chilton,achiltonq@newsvine.com,Male,2021-02-10,Vietnam
27,28,Sibylla,Lambdon,slambdonr@wp.com,Female,2020-12-01,China
28,29,Roderic,Easthope,reasthopes@yahoo.co.jp,Genderfluid,2020-12-12,Madagascar
29,30,Vickie,Taylour,vtaylourt@bigcartel.com,Genderqueer,2020-11-06,Russia
...,...,...,...,...,...,...,...
970,971,Sibylle,Yemm,None,Genderfluid,2021-01-11,Brazil
971,972,Karel,Groome,kgroomeqz@opensource.org,Genderqueer,2020-05-13,Indonesia
972,973,Etheline,Corroyer,ecorroyerr0@4shared.com,Genderfluid,2020-08-22,Paraguay
973,974,Dayle,Grigg,dgriggr1@wunderground.com,Non-binary,2020-04-13,China
974,975,Lauralee,Spellworth,lspellworthr2@amazon.co.jp,Female,2020-07-05,Indonesia
975,976,Jaynell,MacPike,None,Female,2020-10-17,United States
976,977,Chevy,Sapseed,csapseedr4@sina.com.cn,Polygender,2020-12-25,United States
977,978,Sioux,Sarsfield,None,Genderfluid,2020-10-18,Japan
978,979,Hamlin,Huddy,hhuddyr6@prnewswire.com,Polygender,2021-03-02,Argentina
979,980,Ardella,Hattrick,ahattrickr7@nyu.edu,Genderqueer,2020-12-22,Philippines
980,981,Douglass,Westrope,None,Non-binary,2021-03-14,Philippines
981,982,Alyss,Blaver,ablaverr9@sina.com.cn,Bigender,2020-07-12,Russia
982,983,Rhonda,Blaza,rblazara@ed.gov,Genderqueer,2021-02-11,Botswana
983,984,Coralyn,Galle,None,Polygender,2020-06-11,Philippines
984,985,Candra,Dies,None,Bigender,2021-03-01,Portugal
985,986,Ellerey,Haw,None,Polygender,2020-04-26,Ecuador
986,987,Estelle,Strong,None,Polygender,2020-12-30,South Korea
987,988,Germaine,Daventry,None,Male,2021-03-04,France
988,989,Erl,Exrol,eexrolrg@zdnet.com,Non-binary,2021-01-26,Saudi Arabia
989,990,Creigh,Hickenbottom,chickenbottomrh@redcross.org,Male,2020-11-13,China
990,991,Fulton,Keme,fkemeri@google.co.uk,Female,2021-02-24,Tunisia
991,992,Jocelyne,Sweatland,jsweatlandrj@elegantthemes.com,Female,2020-04-16,Poland
992,993,Nolie,Rosie,nrosierk@yahoo.com,Male,2020-11-24,China
993,994,Xenos,Ridings,xridingsrl@drupal.org,Female,2020-07-24,Ukraine
994,995,Euell,Pettersen,epettersenrm@google.com.au,Genderqueer,2020-06-19,Finland
995,996,Kenn,Shoobridge,kshoobridgern@opera.com,Genderqueer,2020-10-02,Ukraine
996,997,Skipton,McCoughan,smccoughanro@fc2.com,Bigender,2020-10-23,Indonesia
997,998,Gusty,Bau,gbaurp@uol.com.br,Bigender,2021-01-06,Peru
998,999,Zeke,Putterill,None,Male,2020-09-14,Philippines
999,1000,Alvina,Heyfield,None,Non-binary,2021-01-10,Portugal

In [8]:

import pandas as pd
engine = 'postgres:///test'
#sql = pd.read_sql("DELETE FROM person where id = 1;", engine)
sql = pd.read_sql("SELECT * FROM person;", engine)
sql

,id,first_name,last_name,email,gender,date_of_birth,country_of_birth
0,2,Merry,Tummond,mtummond1@ca.gov,Non-binary,2020-09-13,China
1,3,Ximenes,Edmeades,xedmeades2@webs.com,Genderqueer,2020-05-30,Poland
2,4,Toma,McQuillin,None,Agender,2020-05-11,Vietnam
3,5,Joshia,D' Angelo,jdangelo4@spiegel.de,Female,2020-12-05,Argentina
4,6,Anitra,Bartoszewicz,abartoszewicz5@pcworld.com,Agender,2020-12-29,Vietnam
5,7,Barnebas,Girard,bgirard6@jiathis.com,Male,2021-01-08,China
6,8,Casey,Demko,cdemko7@indiatimes.com,Female,2020-04-17,Peru
7,9,Babbie,Whisby,bwhisby8@ebay.com,Non-binary,2020-04-06,Macedonia
8,10,Fiann,Axtonne,faxtonne9@spiegel.de,Genderfluid,2020-11-29,Russia
9,11,Johnette,Shilton,jshiltona@youtu.be,Male,2020-11-11,Philippines
10,12,Vevay,Tonbridge,vtonbridgeb@foxnews.com,Bigender,2020-06-07,East Timor
11,13,Staci,Holleran,sholleranc@latimes.com,Genderfluid,2020-11-15,Morocco
12,14,Miran,Eatock,meatockd@com.com,Bigender,2020-08-31,Colombia
13,15,Stephie,Gehrts,sgehrtse@ifeng.com,Genderfluid,2020-11-08,Indonesia
14,16,Richie,Valentin,rvalentinf@statcounter.com,Genderfluid,2020-12-30,Indonesia
15,17,Suzanna,Girard,sgirardg@usa.gov,Polygender,2021-03-12,France
16,18,Wang,Quiddington,wquiddingtonh@etsy.com,Polygender,2021-03-26,France
17,19,Roi,Lockett,rlocketti@amazon.co.uk,Female,2020-04-30,Philippines
18,20,Drugi,Allcott,None,Agender,2020-11-29,Sweden
19,21,Isidoro,McLaren,imclarenk@github.io,Polygender,2021-02-13,Indonesia
20,22,Kathye,Kimbly,kkimblyl@slideshare.net,Agender,2020-12-27,Russia
21,23,Amabel,Lisett,alisettm@shinystat.com,Genderqueer,2020-06-08,Indonesia
22,24,Carlee,Rainsden,crainsdenn@geocities.jp,Agender,2021-02-03,Argentina
23,25,Sherman,Attrey,sattreyo@nature.com,Male,2020-10-16,Sweden
24,26,Creighton,Billie,cbilliep@slideshare.net,Non-binary,2020-12-09,Guatemala
25,27,Aguistin,Chilton,achiltonq@newsvine.com,Male,2021-02-10,Vietnam
26,28,Sibylla,Lambdon,slambdonr@wp.com,Female,2020-12-01,China
27,29,Roderic,Easthope,reasthopes@yahoo.co.jp,Genderfluid,2020-12-12,Madagascar
28,30,Vickie,Taylour,vtaylourt@bigcartel.com,Genderqueer,2020-11-06,Russia
29,31,Roberto,Borkett,rborkettu@archive.org,Genderqueer,2020-11-01,Poland
...,...,...,...,...,...,...,...
969,971,Sibylle,Yemm,None,Genderfluid,2021-01-11,Brazil
970,972,Karel,Groome,kgroomeqz@opensource.org,Genderqueer,2020-05-13,Indonesia
971,973,Etheline,Corroyer,ecorroyerr0@4shared.com,Genderfluid,2020-08-22,Paraguay
972,974,Dayle,Grigg,dgriggr1@wunderground.com,Non-binary,2020-04-13,China
973,975,Lauralee,Spellworth,lspellworthr2@amazon.co.jp,Female,2020-07-05,Indonesia
974,976,Jaynell,MacPike,None,Female,2020-10-17,United States
975,977,Chevy,Sapseed,csapseedr4@sina.com.cn,Polygender,2020-12-25,United States
976,978,Sioux,Sarsfield,None,Genderfluid,2020-10-18,Japan
977,979,Hamlin,Huddy,hhuddyr6@prnewswire.com,Polygender,2021-03-02,Argentina
978,980,Ardella,Hattrick,ahattrickr7@nyu.edu,Genderqueer,2020-12-22,Philippines
979,981,Douglass,Westrope,None,Non-binary,2021-03-14,Philippines
980,982,Alyss,Blaver,ablaverr9@sina.com.cn,Bigender,2020-07-12,Russia
981,983,Rhonda,Blaza,rblazara@ed.gov,Genderqueer,2021-02-11,Botswana
982,984,Coralyn,Galle,None,Polygender,2020-06-11,Philippines
983,985,Candra,Dies,None,Bigender,2021-03-01,Portugal
984,986,Ellerey,Haw,None,Polygender,2020-04-26,Ecuador
985,987,Estelle,Strong,None,Polygender,2020-12-30,South Korea
986,988,Germaine,Daventry,None,Male,2021-03-04,France
987,989,Erl,Exrol,eexrolrg@zdnet.com,Non-binary,2021-01-26,Saudi Arabia
988,990,Creigh,Hickenbottom,chickenbottomrh@redcross.org,Male,2020-11-13,China
989,991,Fulton,Keme,fkemeri@google.co.uk,Female,2021-02-24,Tunisia
990,992,Jocelyne,Sweatland,jsweatlandrj@elegantthemes.com,Female,2020-04-16,Poland
991,993,Nolie,Rosie,nrosierk@yahoo.com,Male,2020-11-24,China
992,994,Xenos,Ridings,xridingsrl@drupal.org,Female,2020-07-24,Ukraine
993,995,Euell,Pettersen,epettersenrm@google.com.au,Genderqueer,2020-06-19,Finland
994,996,Kenn,Shoobridge,kshoobridgern@opera.com,Genderqueer,2020-10-02,Ukraine
995,997,Skipton,McCoughan,smccoughanro@fc2.com,Bigender,2020-10-23,Indonesia
996,998,Gusty,Bau,gbaurp@uol.com.br,Bigender,2021-01-06,Peru
997,999,Zeke,Putterill,None,Male,2020-09-14,Philippines
998,1000,Alvina,Heyfield,None,Non-binary,2021-01-10,Portugal

In [1]:
import pandas as pd
engine = 'postgres:///test'
sql = pd.read_sql("SELECT email, count(*) FROM person GROUP BY email HAVING count(*) > 1;", engine)
sql

  email  count
0  None    268

In [12]:
pd.read_sql("ALTER TABLE person ADD CONSTRAINT unique_email_address UNIQUE(email);",engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [2]:
sql = pd.read_sql("SELECT * FROM person;", engine)
sql

,id,first_name,last_name,email,gender,date_of_birth,country_of_birth
0,2,Merry,Tummond,mtummond1@ca.gov,Non-binary,2020-09-13,China
1,3,Ximenes,Edmeades,xedmeades2@webs.com,Genderqueer,2020-05-30,Poland
2,4,Toma,McQuillin,None,Agender,2020-05-11,Vietnam
3,5,Joshia,D' Angelo,jdangelo4@spiegel.de,Female,2020-12-05,Argentina
4,6,Anitra,Bartoszewicz,abartoszewicz5@pcworld.com,Agender,2020-12-29,Vietnam
5,7,Barnebas,Girard,bgirard6@jiathis.com,Male,2021-01-08,China
6,8,Casey,Demko,cdemko7@indiatimes.com,Female,2020-04-17,Peru
7,9,Babbie,Whisby,bwhisby8@ebay.com,Non-binary,2020-04-06,Macedonia
8,10,Fiann,Axtonne,faxtonne9@spiegel.de,Genderfluid,2020-11-29,Russia
9,11,Johnette,Shilton,jshiltona@youtu.be,Male,2020-11-11,Philippines
10,12,Vevay,Tonbridge,vtonbridgeb@foxnews.com,Bigender,2020-06-07,East Timor
11,13,Staci,Holleran,sholleranc@latimes.com,Genderfluid,2020-11-15,Morocco
12,14,Miran,Eatock,meatockd@com.com,Bigender,2020-08-31,Colombia
13,15,Stephie,Gehrts,sgehrtse@ifeng.com,Genderfluid,2020-11-08,Indonesia
14,16,Richie,Valentin,rvalentinf@statcounter.com,Genderfluid,2020-12-30,Indonesia
15,17,Suzanna,Girard,sgirardg@usa.gov,Polygender,2021-03-12,France
16,18,Wang,Quiddington,wquiddingtonh@etsy.com,Polygender,2021-03-26,France
17,19,Roi,Lockett,rlocketti@amazon.co.uk,Female,2020-04-30,Philippines
18,20,Drugi,Allcott,None,Agender,2020-11-29,Sweden
19,21,Isidoro,McLaren,imclarenk@github.io,Polygender,2021-02-13,Indonesia
20,22,Kathye,Kimbly,kkimblyl@slideshare.net,Agender,2020-12-27,Russia
21,23,Amabel,Lisett,alisettm@shinystat.com,Genderqueer,2020-06-08,Indonesia
22,24,Carlee,Rainsden,crainsdenn@geocities.jp,Agender,2021-02-03,Argentina
23,25,Sherman,Attrey,sattreyo@nature.com,Male,2020-10-16,Sweden
24,26,Creighton,Billie,cbilliep@slideshare.net,Non-binary,2020-12-09,Guatemala
25,27,Aguistin,Chilton,achiltonq@newsvine.com,Male,2021-02-10,Vietnam
26,28,Sibylla,Lambdon,slambdonr@wp.com,Female,2020-12-01,China
27,29,Roderic,Easthope,reasthopes@yahoo.co.jp,Genderfluid,2020-12-12,Madagascar
28,30,Vickie,Taylour,vtaylourt@bigcartel.com,Genderqueer,2020-11-06,Russia
29,31,Roberto,Borkett,rborkettu@archive.org,Genderqueer,2020-11-01,Poland
...,...,...,...,...,...,...,...
969,971,Sibylle,Yemm,None,Genderfluid,2021-01-11,Brazil
970,972,Karel,Groome,kgroomeqz@opensource.org,Genderqueer,2020-05-13,Indonesia
971,973,Etheline,Corroyer,ecorroyerr0@4shared.com,Genderfluid,2020-08-22,Paraguay
972,974,Dayle,Grigg,dgriggr1@wunderground.com,Non-binary,2020-04-13,China
973,975,Lauralee,Spellworth,lspellworthr2@amazon.co.jp,Female,2020-07-05,Indonesia
974,976,Jaynell,MacPike,None,Female,2020-10-17,United States
975,977,Chevy,Sapseed,csapseedr4@sina.com.cn,Polygender,2020-12-25,United States
976,978,Sioux,Sarsfield,None,Genderfluid,2020-10-18,Japan
977,979,Hamlin,Huddy,hhuddyr6@prnewswire.com,Polygender,2021-03-02,Argentina
978,980,Ardella,Hattrick,ahattrickr7@nyu.edu,Genderqueer,2020-12-22,Philippines
979,981,Douglass,Westrope,None,Non-binary,2021-03-14,Philippines
980,982,Alyss,Blaver,ablaverr9@sina.com.cn,Bigender,2020-07-12,Russia
981,983,Rhonda,Blaza,rblazara@ed.gov,Genderqueer,2021-02-11,Botswana
982,984,Coralyn,Galle,None,Polygender,2020-06-11,Philippines
983,985,Candra,Dies,None,Bigender,2021-03-01,Portugal
984,986,Ellerey,Haw,None,Polygender,2020-04-26,Ecuador
985,987,Estelle,Strong,None,Polygender,2020-12-30,South Korea
986,988,Germaine,Daventry,None,Male,2021-03-04,France
987,989,Erl,Exrol,eexrolrg@zdnet.com,Non-binary,2021-01-26,Saudi Arabia
988,990,Creigh,Hickenbottom,chickenbottomrh@redcross.org,Male,2020-11-13,China
989,991,Fulton,Keme,fkemeri@google.co.uk,Female,2021-02-24,Tunisia
990,992,Jocelyne,Sweatland,jsweatlandrj@elegantthemes.com,Female,2020-04-16,Poland
991,993,Nolie,Rosie,nrosierk@yahoo.com,Male,2020-11-24,China
992,994,Xenos,Ridings,xridingsrl@drupal.org,Female,2020-07-24,Ukraine
993,995,Euell,Pettersen,epettersenrm@google.com.au,Genderqueer,2020-06-19,Finland
994,996,Kenn,Shoobridge,kshoobridgern@opera.com,Genderqueer,2020-10-02,Ukraine
995,997,Skipton,McCoughan,smccoughanro@fc2.com,Bigender,2020-10-23,Indonesia
996,998,Gusty,Bau,gbaurp@uol.com.br,Bigender,2021-01-06,Peru
997,999,Zeke,Putterill,None,Male,2020-09-14,Philippines
998,1000,Alvina,Heyfield,None,Non-binary,2021-01-10,Portugal

In [14]:
import pandas as pd
engine = 'postgres:///test'
#下一行将会报错，因为gender不止 CHECK选择出来的两种类型
# CheckViolation: check constraint "gender_constraint" of relation "person" is violated by some row
pd.read_sql("ALTER TABLE person ADD CONSTRAINT gender_constraint CHECK (gender = 'Male' OR gender = 'Female');",engine)
#如果上一行代码成功，意味着接下来每次insert新数据，都会自动check gender是否Male或者Female，如果不是这二者，则报错。
#ERROR: new row for relation "person" violates check constraint "gender_constraint"

IntegrityError: (psycopg2.errors.CheckViolation) check constraint "gender_constraint" of relation "person" is violated by some row
 [SQL: "ALTER TABLE person ADD CONSTRAINT gender_constraint CHECK (gender = 'Male' OR gender = 'Female');"] (Background on this error at: http://sqlalche.me/e/gkpj)

In [4]:
# delete records

import pandas as pd
engine = 'postgres:///test'
sql = pd.read_sql("DELETE FROM person;", engine) #删除person这个table的所有row
sql

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [5]:
pd.read_sql("SELECT * FROM person;", engine) #person的所有row都被删除了

Empty DataFrame
Columns: [id, first_name, last_name, email, gender, date_of_birth, country_of_birth]
Index: []

In [ ]:
# 从文件中倒入数据到postgresql

# \i 文件地址路径
#例如：
# \i

In [6]:
pd.read_sql("DELETE FROM person WHERE gender = 'Male' AND country_of_birth = 'United States';", engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [15]:
# update records
import pandas as pd
engine = 'postgres:///test'
sql = pd.read_sql("UPDATE person SET email = '12345@gmail.com' WHERE id = 2;",engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [17]:
pd.read_sql("SELECT * FROM person WHERE id = 2;", engine)

,id,first_name,last_name,email,gender,date_of_birth,country_of_birth
0,2,Merry,Tummond,12345@gmail.com,Non-binary,2020-09-13,China

In [ ]:
#ON CONFLICT () DO NOTHING
#只可用于具有 unique or exclusion constraint 属性的列

'在具有不可重复属性的person_pkey列插入相同值时的报错：'

#ERROR:  duplicate key value violates unique constraint "person_pkey"
#DETAIL:  Key (id)=(2) already exists.

'如果后面加上ON CONFLICT (id) DO NOTHING，则不会报错。类似与try except跳过报错但什么也没做。'

#INSERT INTO person(id, first_name, last_name, email, gender, date_of_birth, country_of_birth)
#VALUES(2, 'test', 'test1', '123@dd.com', 'Male', DATE '2020-09-14', 'UK')
#ON CONFLICT (id) DO NOTHING;

In [ ]:
#ON CONFLICT () DO UPDATE
#对已经存在的行row进行某个数据的update，因为id列为unique constraint，所以需要用到 on conflict语句，
#后面不是do nothing，而是对有变化的数据email进行更新。

#ON CONFLICT (id) DO UPDATE SET email = EXCLUDED.email;